[Unit]
Description=diycron
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=5
CPUQuota=85%
MemoryMax=384M
User=root
ExecStart=sh -c "cat /var/log/diycron.log >> /var/log/diycron.log.old; sh /etc/diycron > /var/log/diycron.log"
[Install]
WantedBy=multi-user.target
