[Unit]
Description=diycron
After=network.target
[Service]
Type=simple
Restart=always
RestartSec=10
#CPUQuota=90%
#MemoryMax=400M
User=root
ExecStart=sh -c "cat /var/log/diycron.log >> /var/log/diycron.log.old; sh /etc/diycron > /var/log/diycron.log"
[Install]
WantedBy=multi-user.target
