[Unit]
Description=ShioriFeed
After=network.target
[Service]
User=tux
Type=exec
ExecStart=/Main/Server/Shiori/ShioriFeed.py
WorkingDirectory=/Main/Server/Shiori/
Restart=always
RestartSec=10
[Install]
WantedBy=default.target
