[Unit]
Description=Shiori
After=network.target
[Service]
User=tux
Type=exec
ExecStart=/Main/Server/Shiori/shiori --portable serve -p 8076
WorkingDirectory=/Main/Server/Shiori/
Restart=always
RestartSec=10
[Install]
WantedBy=default.target
