[Unit]
Description=SpaccBBS-NodeBB
After=network.target
[Service]
Type=simple
Restart=always
RestartSec=10
User=tux
ExecStart=/Main/Server/SpaccBBS-NodeBB/RunNodeBB.sh
[Install]
WantedBy=multi-user.target
