[Unit]
Description=SpaccCraft
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=10
#CPUQuota=75%
#MemoryMax=384M
User=SpaccCraft
ExecStart=/usr/bin/script /dev/null -c "export TERM=vt100; screen -S SpaccCraft sh /Main/Server/SpaccCraft/StartSpaccCraft.sh"
[Install]
WantedBy=multi-user.target
