[Unit]
Description=WebFileManager
After=network.target
[Service]
User=root
Type=exec
ExecStart=/usr/local/bin/filebrowser -a 0.0.0.0 -p 7580 -r /
WorkingDirectory=/Main/Server/SpaccCloud
Restart=always
RestartSec=15
[Install]
WantedBy=default.target
