[Unit]
Description=windog
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=10
User=pi
ExecStart=/Server/Bots/WinDog/StartWinDog
[Install]
WantedBy=multi-user.target
